body{ 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: #fff;
}

.container{ 
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.row{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin: 70px 0;
  background-color: #F1ECE6;
  width: 400px;
  height: 467px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.header{ 
  margin: 28px 0 20px 0;
}




/* strat forms style */

.login-form{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.username-group,
.password-group,
.email-group{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  position: relative;
}

.error-msg {
  color: #dc3545;
  font-size: 12px;
  display: none;
  position: absolute;
  bottom: -28px;
  left: 90px;
  font-family:sans-serif;
}

input.error {
  border: 1px solid #dc3545;
}




.get-username__text,
.get-password__text,
.get-email__text{
  color: #737373;
  font-weight: bold;
}

.get-username__input,
.get-password__input,
.get-email__input{ 
  width: 300px;
  padding: 9px 5px;
  border-radius: 10px;
  outline: none;
  border: 1px solid #8598d491;
  background-color: #F1ECE6;
}

.password-see{ 
  position: absolute;
  right: 10px;
  top: 34px;
  opacity: 0.4;
  cursor: pointer;
  transition: color 3ms ease;
  color: #737373;
  font-size: 14px;
}

.password-see:hover{ 
  opacity: 1;
}

.login-btn{
  display: block;
  text-decoration: none;
  border: 1px solid #8598d491;
  background-color: #737373;
  padding: 13px 44px;
  font-weight: bold;
  border-radius: 10px;
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: 4px;
  font-size: 18px;
}

.lost-password{ 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 13px;
  gap: 34px;
}

.lost-password__link{
  font-size: 13px;
  text-decoration: none;
  color: #737373;
  transition: all 40ms ease;
  -webkit-transition: all 40ms ease;
  -moz-transition: all 40ms ease;
  -ms-transition: all 40ms ease;
  -o-transition: all 40ms ease;
}
.lost-password__link:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.remember-account{ 
  color: #737373;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}

.sign-in{ 
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  margin-top: 20px;
  gap: 5px;
  color:#737373;

}
.sign-in__link{
  text-decoration: none;
  color:#737373;
  transition: all 40ms ease;
  -webkit-transition: all 40ms ease;
  -moz-transition: all 40ms ease;
  -ms-transition: all 40ms ease;
  -o-transition: all 40ms ease;
}

.sign-in__link:hover{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}
/* Start Responsive */

@media (min-width: 344px){ 
  .row {
    width: 310px;
  }
  .get-username__input,
  .get-password__input,
  .get-email__input{ 
    width: 245px;
    padding: 9px 5px;
  }
  .header img { 
    width: 150px;
    height: 40px
  }
  .get-username__text,
  .get-password__text,
  .get-email__text{ 
    font-size: 14px;
  }
  .login-btn{ 
    font-size: 14px;
    padding: 12px 44px;
    margin-top: 20px;
  }

  .lost-password__link {
    font-size: 12px;
  }
  .remember-account{ 
    font-size: 12px;
  }
  .sign-in{ 
    font-size: 12px;
  }
}

@media (min-width: 500px){ 
  .row{ 
    width: 380px;
  }
  .get-username__input,
  .get-password__input,
  .get-email__input{ 
    width: 270px;
    padding: 9px 5px;
  }
  .header img { 
    width: 180px;
    height: 50px;
  }
  .get-username__text, 
  .get-password__text,
  .get-email__text{
    font-size: 14px;
  }
  .login-btn{ 
    font-size: 16px;
  }

  .lost-password__link {
    font-size: 13px;
  }
  .remember-account{ 
    font-size: 13px;
  }
  .sign-in{ 
    font-size: 13px;
    margin-top: 10px;
  }
}

/* Start Responsive */